<!--<div class="aframeScene">
  <a-scene embedded background="color:#F0FFFF">-->

<!-- Camera -->
<!--<a-entity id="cam" cam_move position="0 1.5 138">
      <a-entity camera look-controls></a-entity>
    </a-entity>-->


<!--Tour eiffel
    <a-entity eiffel position="0 3.5 -47.5" scale="2.3 2.3 2.3"></a-entity>-->

<!--trottoir tour eiffel
    <a-box color="#9793a1" height="125" width="123" depth="0.1" position="0 0 -47.5" rotation="-90 0 0"></a-box>-->


<!--route
    <a-box id='road' color="#808080" width="123" height="8" depth="0.1" position="0 0 19" rotation="-90 0 0">
    </a-box>-->

<!--passages pieton
    <a-box color="white" width="10" height="1" depth="0.1" position="20 0.03 17" rotation="-90 0 0"></a-box>
    <a-box color="white" width="10" height="1" depth="0.1" position="20 0.03 19" rotation="-90 0 0"></a-box>
    <a-box color="white" width="10" height="1" depth="0.1" position="20 0.03 21" rotation="-90 0 0"></a-box>

    <a-box color="white" width="10" height="1" depth="0.1" position="-20 0.03 17" rotation="-90 0 0"></a-box>
    <a-box color="white" width="10" height="1" depth="0.1" position="-20 0.03 19" rotation="-90 0 0"></a-box>
    <a-box color="white" width="10" height="1" depth="0.1" position="-20 0.03 21" rotation="-90 0 0"></a-box>-->

<!--voitures
    <a-entity id="redCar" car position="0 0 17"
      animation="property:position; from:-61.5 0 17; to: 61.5 0 17; loop:true; dur: 10500; easing: linear">
    </a-entity>

    <a-entity id="yellowCar" car="teinte:yellow;sens:true" position="0 0 21"
      animation="property:position; from: 61.5 0 21; to: -61.5 0 21; loop:true; dur: 20000; easing: linear">
    </a-entity>-->



<!--trottoir champs de mars
    <a-box color="#9793a1" width="123" height="2" depth="0.1" position="0 0 24" rotation="-90 0 0"></a-box>-->

<!--zones vertes champs de mars
    <a-entity greenarea position="0 0 50"></a-entity>
    <a-entity greenarea position="0 0 110"></a-entity>-->

<!--arbustes
    <a-entity shrub position="-13 1 50"></a-entity>
    <a-entity shrub position="13 1 50"></a-entity>
    <a-entity shrub position="-13 1 70"></a-entity>
    <a-entity shrub position="-13 1 30"></a-entity>
    <a-entity shrub position="13 1 70"></a-entity>
    <a-entity shrub position="13 1 30"></a-entity>
    <a-entity shrub position="-13 1 110"></a-entity>
    <a-entity shrub position="13 1 110"></a-entity>
    <a-entity shrub position="-13 1 130"></a-entity>
    <a-entity shrub position="-13 1 90"></a-entity>
    <a-entity shrub position="13 1 130"></a-entity>
    <a-entity shrub position="13 1 90"></a-entity>-->

<!--arbres champs de mars
    <a-entity treecarre position="-27 0 54" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 42" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 30" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 66" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 78" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 54" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 42" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 30" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 66" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 78" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 90" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 102" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 114" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 126" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="-27 0 138" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 90" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 102" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 114" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 126" scale="1.25 1.25 1.25"></a-entity>
    <a-entity treecarre position="27 0 138" scale="1.25 1.25 1.25"></a-entity>
  </a-scene>
</div>-->
<div>
  <iframe src='assets/mars_field.html' class="aframeScene"></iframe>
</div>