<div class="aframeScene">
    <a-scene embedded background="color:#000000">
        <a-camera position="0 20 50"></a-camera>
        <a-sky src="assets/textures/space2.jpg"></a-sky>
        <a-entity planet="radiusPlanet:15;move:false;texture:assets/textures/sun.jpg">
        </a-entity>
        <a-entity planet="tRevol:200000;semiAxe:10;angularStart:260;tRotation:3000;texture:assets/textures/mercure.jpg">
        </a-entity>
        <a-entity trajectory="inner:19.8;outer:20.2" rotation="-90 0 0"></a-entity>
        <a-entity planet="tRevol:300000;semiAxe:15;angularStart:40;tRotation:4000;texture:assets/textures/venus.jpg">
        </a-entity>
        <a-entity trajectory="inner:29.8;outer:30.2" rotation="-90 0 0"></a-entity>
        <a-entity planet="texture:assets/textures/earth.jpg"></a-entity>
        <a-entity trajectory="inner:39.8;outer:40.2" rotation="-90 0 0"></a-entity>
        <a-entity planet="tRevol:600000;semiAxe:25;angularStart:130;tRotation:6000;texture:assets/textures/mars.jpg">
        </a-entity>
        <a-ring trajectory="inner:49.8;outer:50.2" rotation="-90 0 0"></a-ring>
        <a-entity
            planet="tRevol:700000;semiAxe:30;angularStart:90;tRotation:7000;radiusPlanet:4;texture:assets/textures/jupiter.jpg">
        </a-entity>
        <a-entity trajectory="inner:59.8;outer:60.2" rotation="-90 0 0"></a-entity>
        <a-entity
            planet="tRevol:800000;semiAxe:35;angularStart:220;tRotation:8000;radiusPlanet:4;texture:assets/textures/saturne.jpg">
            <a-entity rings="radius:6" position="0 0 0" rotation="-90 0 0"></a-entity>
        </a-entity>
        <a-entity trajectory="inner:69.8;outer:70.2" rotation="-90 0 0"></a-entity>
        <a-entity
            planet="tRevol:900000;semiAxe:40;angularStart:200;tRotation:9000:radiusPlanet:3;texture:assets/textures/uranus.jpg">
        </a-entity>
        <a-entity trajectory="inner:79.8;outer:80.2" rotation="-90 0 0"></a-entity>
        <a-entity planet="tRevol:1000000;semiAxe:45;angularStart:300;tRotation:10000;radiusPlanet:3">
        </a-entity>
        <a-entity trajectory rotation="-90 0 0">
        </a-entity>
    </a-scene>
</div>